.mab{
    color: blue;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.mab:hover{
    background-color: blueviolet;
}
.fre{
    color:aquamarine;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.fre:hover{
    background-color: crimson;
}
.gen{
    color: darkmagenta;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.gen:hover{
    background-color: azure;
}
.gir{
    color: coral;
    font-size: 16px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
.gir:hover{
    background-color: cyan;
}
.direction{
    font-style: italic;
    color: chocolate;
    background-color: darkgray;
}
.speech{
    font-display: black;
    text-decoration: solid;
    font-family:'Times New Roman', Times, serif;
}
.direction{
    font-style: italic;
    background-color: lightblue;
    color: darkgoldenrod;
}
.direction:hover{
    background-color: lightgreen;
    color: beige;
}
.song{
    font-size: medium;
    font-display: black;
    text-decoration: solid;
    font-family: 'Times New Roman', Times, serif;
}
table.table
{
    color: palevioletred;
    text-align: center;
    padding: 70px;
    margin:30px;
}
table, th, td {
    border: 3px solid;
  }
tr:nth-child(odd)
{
    background-color: lightcoral;
}
.edi{
    color: darkmagenta;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.edi:hover{
    background-color: darksalmon;
    text-shadow: 2px 2px 5px rgb(51, 0, 255);
    border-style: dotted;
}
.ser{
    color: rgb(14, 138, 68);
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    
}
.ser:hover{
    background-color: rgb(68, 150, 68);
    text-shadow: 2px 2px 5px rgb(255, 0, 170);
    border-style: groove;
}
.pol{
    color: darkred;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}
.pol:hover{
    background-color: greenyellow;
    text-shadow: 2px 2px 5px rgb(0, 110, 255);
    border-style: double;
}